<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>How to Use LEP?</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="row">
  <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-8 col-sm-8 col-md-8 col-lg-8" style="margin-top: 50px;">
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vT7LUAlKJNBjQ8MLbltvjRD5p_RnREcbdIwH8Ry3p1uJLrTD1mBqJAaA8AFJNg9mTKV5I4fvice8a9K/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>

</div>



<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>