<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Language Exchange Platform</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Language" content="en-us">
  <link rel="stylesheet" href="/static/css/style_for_group.css">
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
  <script type=text/javascript src="{{ url_for('static', filename='script_for_group.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='key.js') }}"></script>


</head>
<body>

<div id="myIdDisp"></div>
<div id="desc"></div>
<button id="autoJoinButton">自動入室</button>
<div id="roomList"></div>
<div id="logList"></div>


</body>
</html>