<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hello Learner!!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="en-us">
    <!--<link rel="stylesheet" href="style.css">-->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='script_home.js') }}"></script>

</head>
<body>
<h2>Welcome to Language Exchange Platform</h2>
<h3>Available room to study</h3>

<ul>
    <li><a href="/english">English</a></li>
    <li><a href="#">Japanese</a></li>
    <li><a href="#">Chinese</a></li>
    <li><a href="#">Korean</a></li>
</ul>
</body>

</html>